[Unit]
Description=Goatcounter
After=network.target

[Service]
ExecStart={{ dir }}/goatcounter serve -listen 127.0.0.1:8005 -tls http -smtp smtps://goatcounter%%40mg.augendre.info:{{gc_mailgun_api_key}}@smtp.mailgun.org:587 -email-from goatcounter@mg.augendre.info -automigrate -db sqlite+{{ dir }}/db/goatcounter.sqlite3
Type=simple
Restart=always
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
CPUQuota=50%
MemoryHigh=128M
MemoryMax=256M

[Install]
WantedBy=default.target
