[pcloud]
type = pcloud
token = {"access_token":"{{ rclone_pcloud_access_token }}","token_type":"bearer","expiry":"0001-01-01T00:00:00Z"}
hostname = eapi.pcloud.com
username = {{ rclone_pcloud_username}}
password = {{ rclone_pcloud_obscured_password }}

[backblaze-pcloud-backup]
type = b2
account = {{ rclone_backblaze_account }}
key = {{ rclone_backblaze_key }}

[local]
type = local
