---
- name: Setup crontab
  hosts: servers
  gather_facts: false
  tasks:
    - name: Cron - Docker system prune
      ansible.builtin.cron:
        name: docker system prune
        minute: 0
        hour: 4
        weekday: SUN
        job: "{{ deploy_dir }}/bin/healthcheck docker-system-prune {{ deploy_dir }}/bin/docker-system-prune"
    - name: Cron - Restart plex container for auto version check
      ansible.builtin.cron:
        name: Restart plex container for auto version check
        minute: 0
        hour: 8
        job: /usr/bin/docker compose -f {{ deploy_dir }}/media/docker-compose.yaml restart plex
    - name: Cron - Sync pCloud
      ansible.builtin.cron:
        name: Sync pCloud
        minute: 0
        hour: 4
        job: "{{ deploy_dir }}/bin/healthcheck sync-pcloud {{ deploy_dir }}/bin/sync-pcloud"
