---
- name: Firewall config
  hosts: vps
  gather_facts: false
  become: true
  tasks:
    - name: Install ufw
      become: true
      ansible.builtin.apt:
        pkg:
          - ufw
    -  name: Allow http
       community.general.ufw:
        rule: allow
        port: http
    -  name: Allow https
       community.general.ufw:
         rule: allow
         port: https
    -  name: Allow in tailscale0
       community.general.ufw:
         rule: allow
         direction: in
         port: tailscale0
    - name: Enable UFW with deny default
      community.general.ufw:
        state: enabled
        default: deny
