services:
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ ansible_env.HOME }}/.docker/config.json:/config.json
      - /etc/localtime:/etc/localtime:ro
    command: --interval 86400 --cleanup --include-restarting
    mem_limit: 512m
    cpus: 0.5
