services:
  django:
    image: crocmagnon/manuels-scolaires:latest
    env_file:
      - .env
    volumes:
      - ./media:/app/media
    restart: always
    init: true
    tty: true
    mem_limit: 512m
    cpus: 0.5
    ports:
      - "127.0.0.1:8012:8000"
