[Unit]
Description=Lyon transports API
After=network.target

[Service]
ExecStart={{ dir }}/lyon-transports-linux-amd64 --host 127.0.0.1 --port 8013 -u {{ lyon_transports_username }} -p {{ lyon_transports_password }} --cors-allowed-origin https://display.augendre.info
Type=simple
Restart=always
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
CPUQuota=50%
MemoryHigh=20M
MemoryMax=50M

[Install]
WantedBy=default.target
