{
  "url": "https://voyages-lois.augendre.info",
  "server": {
    "port": 2369,
    "host": "0.0.0.0"
  },
  "database": {
    "client": "mysql",
    "connection": {
      "host": "127.0.0.1",
      "user": "ghost-483",
      "password": "{{ ghost_db_password }}",
      "database": "voyages_lois_augendre_info_prod"
    }
  },
  "mail": {
    "transport": "SMTP",
    "from": "voyages-lois@mg.augendre.info",
    "options": {
      "service": "Mailgun",
      "host": "smtp.mailgun.org",
      "port": 465,
      "secure": true,
      "auth": {
        "user": "voyages-lois@mg.augendre.info",
        "pass": "{{ ghost_mail_password }}"
      }
    }
  },
  "logging": {
    "transports": [
      "file",
      "stdout"
    ]
  },
  "process": "systemd",
  "paths": {
    "contentPath": "/mnt/data/voyages-lois.augendre.info/content"
  }
}
