{
  "url": "https://voyages.coccomagnard.fr/",
  "server": {
    "port": 2370,
    "host": "0.0.0.0"
  },
  "database": {
    "client": "mysql",
    "connection": {
      "host": "ag56382-002.eu.clouddb.ovh.net",
      "user": "voyages_coccomag",
      "password": "{{ ghost_db_password }}",
      "database": "voyages_coccomagnard_fr",
      "port": 35617
    }
  },
  "mail": {
    "transport": "SMTP",
    "from": "voyages@mg.coccomagnard.fr",
    "options": {
      "service": "Mailgun",
      "host": "smtp.eu.mailgun.org",
      "port": 465,
      "secure": true,
      "auth": {
        "user": "voyages@mg.coccomagnard.fr",
        "pass": "{{ ghost_mail_password }}"
      }
    }
  },
  "spam": {
    "blocked_email_domains": [
      "vtext.com",
      "txt.att.net",
      "txt.bell.ca",
      "tmomail.net",
      "mymetropcs.com",
      "msg.telus.com",
      "pcs.rogers.com",
      "fido.ca"
    ]
  },
  "logging": {
    "transports": [
      "file",
      "stdout"
    ]
  },
  "process": "systemd",
  "paths": {
    "contentPath": "{{ deploy_dir }}/voyages.coccomagnard.fr/content"
  }
}
