---
- name: Write config files for {{ ghost_site }}
  ansible.builtin.template:
    src: templates/ghost/{{ ghost_filename }}
    dest: "{{ deploy_dir }}/{{ ghost_site }}/config.production.json"
    mode: "0664"
  notify:
    - Restart service {{ ghost_site }}
- name: Write systemctl override for {{ ghost_site }}
  ansible.builtin.copy:
    src: files/ghost/override.conf
    dest: /etc/systemd/system/{{ ghost_systemctl_service }}.d/override.conf
    mode: "0644"
  notify:
    - Restart service {{ ghost_site }}
- name: Flush handlers
  ansible.builtin.meta: flush_handlers
- name: Ensure service is started {{ ghost_site }}
  ansible.builtin.command:
    cmd: ghost start
    chdir: "{{ deploy_dir }}/{{ ghost_site }}"
  register: start
  changed_when: '"Starting Ghost" in start.stdout'
- name: Update {{ ghost_site }}
  ansible.builtin.command:
    cmd: ghost update
    chdir: "{{ deploy_dir }}/{{ ghost_site }}"
  register: update
  changed_when: '"Restarting Ghost" in update.stdout'
