POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_HOST=db

NEXTCLOUD_TRUSTED_DOMAINS=cloud.augendre.info

REDIS_HOST=redis
OVERWRITEHOST=cloud.augendre.info
OVERWRITEPROTOCOL=https
TRUSTED_PROXIES=172.0.0.0/8
APACHE_DISABLE_REWRITE_IP=1
