---
- name: Setup ansible python dependencies
  hosts: servers
  gather_facts: false
  tasks:
    - name: Install system deps
      become: true
      ansible.builtin.apt:
        pkg:
          - python3-venv
          - bat
    - name: Link batcat to bat
      ansible.builtin.file:
        src: /usr/bin/batcat
        dest: /home/gaugendre/.local/bin/bat
        owner: gaugendre
        group: gaugendre
        state: link
    - name: Setup venv
      # github3.py required by the goatcounter playbook
      ansible.builtin.shell: |
        if [ -x /tmp/ansible/bin/python ] && [ -x /tmp/ansible/bin/pip ] ; then exit 123; fi
        rm -rf /tmp/ansible
        /usr/bin/python3 -m venv /tmp/ansible
        /tmp/ansible/bin/pip install --upgrade 'github3.py >= 1.0.0a3'
      args:
        executable: /bin/bash
      register: venv
      changed_when: venv.rc != 123
      failed_when: venv.rc != 0 and venv.rc != 123
