---
- name: Setup caddy
  hosts: servers
  gather_facts: false
  tasks:
    - name: Install xcaddy
      ansible.builtin.command:
        cmd: go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
      register: install
      changed_when: '"downloading" in install.stdout' # doesn't seem to work
    - name: Build caddy from source
      ansible.builtin.command:
        cmd: xcaddy build latest --with github.com/caddy-dns/ovh
        chdir: /tmp
      changed_when: true
    - name: Copy new caddy binary
      ansible.builtin.copy:
        src: /tmp/caddy
        dest: /usr/bin/caddy
        remote_src: true
        owner: root
        group: root
        mode: "0755"
      become: true
      notify: Restart caddy
    - name: Cleanup in /tmp
      ansible.builtin.file:
        path: /tmp/caddy
        state: absent
  handlers:
    - name: Restart caddy
      ansible.builtin.service:
        name: caddy
        state: restarted
      become: true
