---
- name: Setup psql client
  hosts: common
  tasks:
    - name: Install system deps
      become: true
      ansible.builtin.apt:
        pkg:
          - postgresql-common
          # manually run sudo /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh
          - postgresql-client-17
