services:
  django:
    image: rg.fr-par.scw.cloud/crocmagnon/shortener
    env_file: shortener.env
    restart: always
    volumes:
      - ./shortener_data:/db
    mem_limit: 300m
    tty: true
    init: true
    ports:
      - "127.0.0.1:8011:8000"
