---
- name: Bin files & scripts
  hosts: servers
  gather_facts: false
  tasks:
    - name: Write bin files
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /mnt/data/bin/
        mode: preserve
      with_fileglob:
        - files/bin/*
    - name: Template bin files
      ansible.builtin.template:
        src: "{{ item }}"
        dest: /mnt/data/bin/{{ item | basename | regex_replace('\.j2$', '') }}
        mode: preserve
      with_fileglob:
        - templates/bin/*.j2
  vars:
    ghost_setup_db_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      35343430343439653064613033383830396264306538376535346637613166376663393062353132
      6537386534656239333731313938653539643165323532380a336162663839303339623266383662
      39346464306261633239363665666334613064393432663335313431326463376637356437653262
      3161633364303839300a366135653466313836376361326165303465396438333962386230336133
      34643963356538356464366433373464316337636337386430373265633336636537
    healthcheck_webhook_token: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      61303433666361376638353034323834623935393834346362623538663936303764363866636164
      3364306166303430343532623935373838333632323032360a373330376464376438613764326662
      32653135316361636163356363623364323537396236333233313933336565373530313363303536
      3339613565313033360a346438376336386638653534356333633439613530396139383635643439
      33313266373566376162643536386365386132346261623733343762356639396436
    hetrixtools_token: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      38663431333361643538646361353237613930646135633962386639376333366230343131633562
      6531646235333565656266613236313133653563323737340a643931643366396236393935363038
      34613661373863623033616431363531633136303830363434393135613365353938656337353936
      6563353164313363380a613039623761613632306364616365316332333563306636356238636532
      34333035346534383064346561316665343233373031353238383864386365393234356137396332
      3363323336613962386638633539393636663461323035333065
    ovh_app_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      30646561656638353734373835386238383365393064656439646437326432383663666263623431
      3639346366646538336333323161656562646266373233320a356136386234646234363732376266
      33316461326132336534326266636239386532656262353034333434653933333637616332616632
      6562643965353037660a656631656563633136356565323536363738663461653736303864383630
      38346637396239316163666661373439656462623861653063393464616530323633
    ovh_app_secret: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      32396331666132363362313331633832303562633932353963636533663132353465636331653134
      6466613637373933623063623563663331373764393262360a643030663036366335646234646335
      38393036626139653733313362323866336164343335656635343564366439663264363866336137
      6464346632396630610a303337316535326633376235383963313865373064363064306134323231
      39633061336366393563366636656339623134323531613462636334636264353934303963633437
      6161656465303732373366386134666234363636613832333166
    ovh_consumer_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      33623537363436363139346132353336383930333133643535383465373163636266356262306466
      6563363661353337626462313338633465333865626162350a306332313233356366386236393066
      66363735386566623335613966353462613963386435636537663235366134336461363837336638
      3466633264626636620a613634653933333332386365393639343030616234376537373635343237
      37373364303732343264623239353837613435363363393862383765376435376166343237333664
      3330623266383462666564376166373032393361653234633863
