---
- name: Manuels
  hosts: servers
  gather_facts: false
  tasks:
    - name: Create DB user
      become: true
      become_user: postgres
      community.postgresql.postgresql_user:
        name: "{{ docker_app_name }}"
        password: "{{ pg_password }}"
    - name: Create a new database
      become: true
      become_user: postgres
      community.postgresql.postgresql_db:
        name: "{{ docker_app_name }}"
        owner: "{{ docker_app_name }}"
    - name: Docker
      ansible.builtin.include_role:
        name: docker

  vars:
    ansible_python_interpreter: /tmp/ansible/bin/python
    docker_app_name: manuels
    secret_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      64306561643134653031316464326531643532383663343665326331626132313930633031636435
      6663383862663966333161356563323035643434303263640a393638393336346138313566663165
      63373662376364353335313234396161646466336439306463633238326536643838633735653661
      6430346530313939310a363233663934373433656634646335623336353964666539346534393931
      39343066343736343831313430346537346437366430643465303130393734646238323465356231
      3931363962306337613030663239623536316339303836343530
    mailgun_api_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      33656537666436376336653161333165306265623161333430626333633039383433613135383435
      6234316438616462663834383363626363643232386363620a323465653063346432303965663831
      65396230336134376264303166626638333265633139333230353731363964333434666338386336
      3965653834656536340a396239363339663231626635323364636331386330643030346132343035
      35623961373734616264636666376464346430613137613438316337636361336434613064366435
      3331306630663536343162346235383338366234666333633563
    pg_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      62323036653035616437353636363339323162646135613434306366386362643466663163356461
      3163613832333865663564373439333866383638643137390a323364616536313465306138666463
      65356437313031373736396133383236383763376138383031633365633730646439643863383037
      6133316535373830620a373162656264376164396434373064636235613762666361326231653237
      35323539613232633037643465636338376531656230646632313533656364653566
