---
- name: Miniflux
  hosts: servers
  gather_facts: false
  tasks:
    - name: Docker
      ansible.builtin.include_role:
        name: docker

  vars:
    docker_app_name: miniflux
    db_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      62393237393135383461613666613935376565363363383336356565623763313135383630613436
      3132656464383036613234666335303239623137366165630a363763666635313262303334336364
      37373530396634303737613162653961323163316337383635303865366134623637633732313436
      3865383032646165640a356131356134316131613263303035383262323962636439363539656137
      30343339633431616266356531666264343965343064323664363037393766613634386464336333
      33313838306461303165366539323535376139383461373665653231613438303661363135623364
      37646635303032376364346263353139383030653132376266323738376161366466383238313064
      39356434623137643135
