---
- name: Paperless-ngx
  hosts: servers
  gather_facts: false
  tasks:
    - name: Docker
      ansible.builtin.include_role:
        name: docker

  vars:
    docker_app_name: paperless-ngx
    secret_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      64383236316239323137333136366331663735383465303031383539306566623164653437613132
      3033333364333132373565396465356462663364383366610a346164636466653266646233383231
      35323132663235303363643134396137373333646463313566333831663434383966643762353964
      6134653635366430370a653838313833333735396435646361396430303666303932323630393033
      64626665616363366631336265393932396636363339343738326635383530666531396134306438
      61363935626533643464333865316462373465336130633235323233336638303435353766643366
      363166393131373937626335323139323338
    ftp_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      31363638353237396439363930303064613564636636386664653832353839363235366435303532
      3734356563663531363065633664313063646537336339640a386139646238663431343034616438
      30333564313630346661333931623266313465333665343930383438353961376437343637646364
      6532666134663636660a656537363262646437366135353661656264356337643039363439353731
      3930

    downloader_freebox_username: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      33636161363132333137313536613165393466303436306130376264383834663439346366383765
      6335636531666539376439383435363430613638383263370a613661386636366534626564393732
      35666137373762323438376666303337363332653865316534383338616432326663303734376364
      3361663038633835610a356536373832663661333234663564323863383032613035646262633065
      3736
    downloader_freebox_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      36376537343534363661356264326638636364333737653239363433326139303731366131393662
      6330303263383739393935623132643431623764316265300a636563303239343432633332643939
      63373965316165353930343966333337393136633239396261353566633638386331646631393730
      3266386637653732640a393538346532353332333530303338636439653432323131643864356337
      66646165376330643132653333393730643337356639613862616430623635376238

    downloader_free_mobile_username: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      63323964626435316365343261633534396439356636616366376565363338323337343263313661
      3764336135633062613037656137343965366339353864630a356264336636663136613833663330
      38656165336265636333373532656137396130346363383739616363636436333733373938336337
      6331366663336266300a633536666364333931383837313030646638346561323435653933396363
      6665
    downloader_free_mobile_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      65656539386465616638613537633861623161633537643035333466326432323464376333646530
      3637643931626537393864316639366636653431383433360a383532353239376636613033376233
      34393732633031633738313638306637366234386337383166303830353838663237636131363435
      3061303733373135310a353038316532396263653033303662313661333432333239626137353261
      32346530373030393566613936373535396533366663393963636536323065343136
