---
- name: Paperless-ngx
  hosts: servers
  gather_facts: false
  tasks:
    - name: Docker
      ansible.builtin.include_role:
        name: docker

  vars:
    docker_app_name: paperless-ngx
    secret_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      64383236316239323137333136366331663735383465303031383539306566623164653437613132
      3033333364333132373565396465356462663364383366610a346164636466653266646233383231
      35323132663235303363643134396137373333646463313566333831663434383966643762353964
      6134653635366430370a653838313833333735396435646361396430303666303932323630393033
      64626665616363366631336265393932396636363339343738326635383530666531396134306438
      61363935626533643464333865316462373465336130633235323233336638303435353766643366
      363166393131373937626335323139323338
    ftp_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      31363638353237396439363930303064613564636636386664653832353839363235366435303532
      3734356563663531363065633664313063646537336339640a386139646238663431343034616438
      30333564313630346661333931623266313465333665343930383438353961376437343637646364
      6532666134663636660a656537363262646437366135353661656264356337643039363439353731
      3930
    email_user: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      66323263336336343862353363636530613238383532643262393865323930633438643236333961
      6339313664336237643935666337353064376364306637640a366232613231623463633364333533
      39643030356238313165363231313465663232633962613961646266376430323832366639333636
      3335663032656232390a393236666534343738663333376164333730326637373239383461663337
      37613433343133323331633462396333343062323438373766653834346466343766
    email_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      30363431643330643364633736383331383630353263353637653931336465656336366566353735
      3231366230626466376138316561306665316565313731380a303066356637303763343536646461
      30616365616561353865333838326534623232626164333261643064333434356531393236333737
      6238646361353837630a663763653638393833613565393332363735626533356236393334353032
      34373039666464333139363136373561623662653839343435613861333335633339636131633530
      61353563646332306536346431336331393531363065316136633837313465363934353763316664
      393461396163306265613134363634653032
