---
# currently disabled in all
- name: Stirling-pdf
  hosts: vps
  gather_facts: false
  tasks:
    - name: Docker
      ansible.builtin.include_role:
        name: docker

  vars:
    docker_app_name: stirling-pdf
