{
	email gabriel@augendre.info
	http_port 80
	https_port 443
	log {
		format console
	}

	import ./dns-ovh.Caddyfile
}

(common_headers) {
	header * -Server
	header * -X-Powered-By
	header * Permissions-Policy interest-cohort=()
	header * ?Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	header * ?Referrer-Policy "strict-origin-when-cross-origin"
	header * ?X-Content-Type-Options "nosniff"
	header * ?X-Frame-Options "DENY"
	header * ?X-XSS-Protection "1; mode=block"
}

(internal) {
	@blocked not client_ip private_ranges 2a01:e0a:325:a1c0::/64 fd7a:115c:a1e0::/48 100.0.0.0/8
	respond @blocked "Access denied" 403 {
		close
	}
    tls {
        resolvers 1.1.1.1 1.0.0.1
    }
}

#########################################################
# PROXY TO EXTERNAL SERVICES
#########################################################

## At home
#########################################################

prusalink.augendre.info {
	import internal
	reverse_proxy http://192.168.0.12
}

#########################################################
# INTERNAL SERVICES
#########################################################

## Reverse proxies (ports 9000-9999)
#########################################################

portainer.augendre.info {
	import common_headers
	import internal
	reverse_proxy https://localhost:9001 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

vps-control.augendre.info {
	import common_headers
	import internal
	reverse_proxy http://localhost:9002
}

plex.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9003
}
transmission.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9004
}
sonarr.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9005
}
prowlarr.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9006
}
radarr.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9007
}
