{
	email gabriel@augendre.info
	http_port 80
	https_port 443
	log {
		format console
	}

	import ./dns-ovh.Caddyfile
}

(common_headers) {
	header * -Server
	header * -X-Powered-By
	header * Permissions-Policy interest-cohort=()
	header * ?Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	header * ?Referrer-Policy "strict-origin-when-cross-origin"
	header * ?X-Content-Type-Options "nosniff"
	header * ?X-Frame-Options "DENY"
	header * ?X-XSS-Protection "1; mode=block"
}

(internal) {
	@blocked not client_ip private_ranges 2a01:e0a:325:a1c0::/64 fd7a:115c:a1e0::/48 100.0.0.0/8
	respond @blocked "Access denied" 403 {
		close
	}
    tls {
        resolvers 1.1.1.1 1.0.0.1
    }
}

#########################################################
# PUBLIC SERVICES
#########################################################

## Static config
#########################################################

static.augendre.info {
	import common_headers
	header * Cache-Control "max-age=300"
	file_server * {
		root {{ deploy_dir }}/caddy/static
		hide .*
	}
}

augendre.info {
	import common_headers
	respond * 200
}

## Reverse proxies (ports 8000-8999)
#########################################################

charasheet.augendre.info {
	import common_headers
	route {
		file_server /media/* {
			root {{ deploy_dir }}/charasheet/data
		}
		reverse_proxy localhost:8001
	}
}

# Ports 8002-8003 are available

gc.gabnotes.org, gc.augendre.info, static.gc.augendre.info, voyages.gc.coccomagnard.fr {
	import common_headers
	reverse_proxy localhost:8005
}

git.augendre.info {
	import common_headers
	reverse_proxy localhost:8006 {
		header_up X-Real-Ip {remote_host}
	}
}

office.augendre.info {
	import common_headers
	reverse_proxy localhost:8007
}

reader.augendre.info {
	import common_headers
	reverse_proxy localhost:8008
}

wallabag.augendre.info {
	import common_headers
	header * ?Content-Security-Policy "default-src 'none'; img-src * data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; font-src 'self'; connect-src 'self'; manifest-src 'self'"
	reverse_proxy localhost:8009
}

bin.augendre.info, paste.augendre.info {
	import common_headers
	@bot header User-Agent PrivateBinDirectoryBot*
	respond @bot "Access denied" 403 {
		close
	}
	reverse_proxy localhost:8010
}

g4b.ovh {
	import common_headers
	reverse_proxy localhost:8011
}

manuels.augendre.info, fournitures.augendre.info {
	import common_headers
	reverse_proxy localhost:8012
}

## Ghost blogs (ports >=2368)
#########################################################

gabnotes.org {
	import common_headers
	header * Content-Security-Policy "default-src 'none'; style-src 'self' 'unsafe-inline' https:; script-src 'self' 'unsafe-inline' 'wasm-unsafe-eval' https://cdn.jsdelivr.net https://code.jquery.com https://*.gabnotes.org https://unpkg.com https://cdnjs.cloudflare.com; img-src 'self' https:; connect-src 'self' https://*.augendre.info https://unpkg.com https://*.gabnotes.org https://api.codapi.org; frame-ancestors https://*.augendre.info; base-uri 'self'; form-action 'self';"

	reverse_proxy localhost:2368
}
ghost.augendre.info {
	import common_headers
	redir / /ghost/

	reverse_proxy localhost:2368
}

voyages-lois.augendre.info {
	import common_headers
	header * X-Frame-Options "SAMEORIGIN"
	reverse_proxy localhost:2369
}

voyages.coccomagnard.fr, voyages.augendre.info {
	import common_headers
	header * X-Frame-Options "SAMEORIGIN"
	reverse_proxy localhost:2370
}

#########################################################
# PROXY TO EXTERNAL SERVICES
#########################################################

## Outside
#########################################################

autoconfig.augendre.info {
	import common_headers
	reverse_proxy https://autoconfig.migadu.com
}

#########################################################
# INTERNAL SERVICES
#########################################################

## Reverse proxies (ports 9000-9999)
#########################################################

portainer-vps-1.augendre.info {
	import common_headers
	import internal
	reverse_proxy https://localhost:9001 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

code.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9002
}

test.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9008
}

paperless.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9009
}

tcl.augendre.info {
	import common_headers
	reverse_proxy localhost:9010
}

# port 9011 is available

pdf.augendre.info {
	import common_headers
	import internal
	reverse_proxy localhost:9012
}

#########################################################
# REDIRECTS
#########################################################
mariage.augendre.info {
	import common_headers
	redir https://e.pcloud.link/publink/show?code=kZAG2qZWQWJbKTUgJ0DjeFn0cmcDhr48S2V
}

mail.augendre.info {
	import common_headers
	redir https://webmail.migadu.com permanent
}

cv-gabriel.augendre.info {
	import common_headers
	redir https://e.pcloud.link/publink/show?code=XZVYidZt0r7H6wbWThqi1xlWOQnCjHKfcrV permanent
}

blog.augendre.info gabriel.augendre.info www.gabnotes.org {
	import common_headers
	redir https://gabnotes.org{uri} permanent
}

qrcode.augendre.info qr.augendre.info {
	import common_headers
	redir https://static.augendre.info/qrcode-web/
}

coccomagnard.fr {
    import common_headers
    redir https://voyages.coccomagnard.fr
}
