services:
  portainer:
    image: portainer/portainer-ee:latest
    restart: always
    volumes:
      - ./portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "127.0.0.1:9001:9443"
    mem_limit: 128m
    cpus: 0.5
