services:
  miniflux:
    image: miniflux/miniflux:latest
    restart: always
    env_file: miniflux.env
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "/usr/bin/miniflux", "-healthcheck", "auto"]
    mem_limit: 512m
    ports:
      - "127.0.0.1:8008:3298"
    extra_hosts:
      - "host.docker.internal:host-gateway"
