PUID=1000
PGID=1000
TZ=Europe/Paris
PASSWORD={{ password }}
SUDO_PASSWORD={{ password }}
PROXY_DOMAIN=code.augendre.info
DOCKER_MODS=linuxserver/mods:code-server-python3|linuxserver/mods:code-server-golang
