SYMFONY__ENV__SECRET={{ secret_key }}
SYMFONY__ENV__LOCALE=en
SYMFONY__ENV__MAILER_HOST=smtp.mailgun.org
SYMFONY__ENV__MAILER_USER=wallabag@mg.augendre.info
SYMFONY__ENV__MAILER_PASSWORD={{ mailgun_api_key }}
SYMFONY__ENV__MAILER_PORT=587
SYMFONY__ENV__FROM_EMAIL=wallabag@mg.augendre.info
SYMFONY__ENV__FOSUSER_REGISTRATION=false
#SYMFONY__ENV__FOSUSER_CONFIRMATION=
SYMFONY__ENV__DOMAIN_NAME=https://wallabag.augendre.info
